* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: arial;
}

#menuTop {
    background-color: #33393F;
    width: 100%;
    min-height: 50px;
}

#toggle {
    display: none;
    flex-direction: column;
    height: 100%;
}
#toggle:hover {
    cursor: pointer;
}
.toggleBar {
    width: 30px;
    height: 2px;
    background-color: white;
    
    margin-top: 10px;
    margin-left: 10px;
}

#menuContainer {
    display: flex;
}
.menuItem {
    flex: 1;
    display: flex;
}
.menuItem li {
    color: #606469;
    margin: 15px;
    display: flex;
}
#menuItem1 {
    flex: 4;
}
#menuItem2 {
    flex: 1;
    justify-content: center;
}
#menuItem3 {
    flex: 4;
    justify-content: flex-end;
}

#dbo {
    color: #AB191B;
}
#hg {
    color: #BDC029;
}

.dragonball {
    background-color: #E7631D;
    height: 20px;
    width: 20px;
    border-radius: 12px;
    border: 2px solid black; 
    margin: 15px;
}

#mainContent {
    display: flex;
    flex-wrap: wrap;
}
.sidebar {
    
    background-color: #DFAA42;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20%;
}
.sidebarItem{
    background-color: #E8641B;
    height: 60px;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 5px;
}
#content {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 60%;
}
#centralColum {

}

#login {
    background-color: white;
    height: 200px;
}
#loginTop {
    background-color: #E8641B;
    text-align: center;
    height: 50px;
    font-size: 40px;
    color: #DFAA42;
    border-bottom: 2px solid black;
    border-radius: 0px 0px 5px 5px;
}

@media (max-width: 1100px) {
    .sidebar {
        width: 50%;
        order: 1;
    }
    #content {
        width: 100%;
        order: 2;
    }

    .sidebarItem {
        width: 50%;
    }
}

@media (max-width: 825px) {
    #menuContainer {
        display: none;
        flex-direction: column;
    }
    .menuItem {
        flex-direction: column;
    }
    .menuItem a {
        display: flex;
        justify-content: center;
    }
    #toggle {
        display: flex;
    }
    .dragonball {
        display: none;
    }

    .sidebarItem {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .sidebar {
        width: 100%;
        order: 1;
    }
    #content {
        width: 100%;
        order: 2;
    }
}
