* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: arial;
}

#menuTop {
    background-color: #33393F;
    width: 100%;
    height: 50px;
}
#menuContainer {
    display: flex;
}
.menuItem {
    flex: 1;
    display: flex;
}
.menuItem li {
    color: #606469;
    margin: 15px;
    display: flex;
}
#menuItem1 {
    /* padrao por enquanto */
}
#menuItem2 {
    justify-content: center;
}
#menuItem3 {
    justify-content: flex-end;
}

#dbo {
    color: #AB191B;
}
#hg {
    color: #BDC029;
}

.dragonball {
    background-color: #E7631D;
    height: 20px;
    width: 20px;
    border-radius: 12px;
    border: 2px solid black; 
}

#mainContent {
    display: flex;
}
#mainContent div {
}

.sidebar {
    flex: 1;
    background-color: #DFAA42;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarItem{
    background-color: #E8641B;
    height: 60px;
    width: 80%;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

#login {
    background-color: white;
    height: 200px;
}
#loginTop {
    background-color: #E8641B;
    text-align: center;
    height: 50px;
    font-size: 40px;
    color: #DFAA42;
    border-bottom: 2px solid black;
    border-radius: 0px 0px 5px 5px;
}

#content {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}